.forms{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    .form{
       text-align: start;
        width: 200px;
        #name{
            width: 400px;
            height: 30px;
            margin-top: 20px;
            font-size: 23px;
        }
        #number{
            width: 400px;
            height: 30px;
            margin-top: 20px;
            font-size: 23px;
        }
        button{
           cursor: pointer;
            height: 30px;
            background-color: blue;
            color: white;
            border-radius: 10px;
            border: none;
            margin-top: 30px;
            
        }
    }
}